<aw-flex-row class="nxPalette" height="fill">
    <aw-flex-column width="fill">
        <galaxy-command-bar anchor="helloworld-top-anchor" ribbons="data.ribbons" mapping="data.ribbonMapping"
            enhancements="data.ribbonData" alignment="HORIZONTAL"></galaxy-command-bar>
        <aw-flex-row height="fill" id="div-galaxy-3dviewer">
            <galaxy-3dviewer options="data.viewerOptions"></galaxy-3dviewer>
        </aw-flex-row>
    </aw-flex-column>
</aw-flex-row>