<aw-popup2>
    <aw-panel>
        <aw-panel-body>
            <aw-flex-row height="64f">
                <aw-flex-column width="95f" justify="center">
                    <galaxy-workspace></galaxy-workspace>
                </aw-flex-column>
            </aw-flex-row>
        </aw-panel-body>
    </aw-panel>
</aw-popup2>