<aw-flex-row height='fill' justify='center'>
    <aw-flex-column width='auto' justify='center'>
        <aw-label prop="data.hello"></aw-label>
        <aw-button action="switchPageToPart" size="auto">Next Page</aw-button>
        <aw-button action="callRestFul" size="auto">Call RESTFul</aw-button>
        <aw-flex-row height="20f" justify="center">
            {{ "message: " + data.resultFromService.dbValue.message }}
        </aw-flex-row>
    </aw-flex-column>
</aw-flex-row>