<div style="width: 100%; height: 100%; position: relative;" exist-when="!conditions.getEnv">
    <div class="spinner-text">
        <span>Loading</span>
    </div>
    <div class="center loading-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<aw-flex-row height="fill" exist-when="conditions.getEnv">
    <aw-flex-column width="fill">
        <ui-view class="aw-layout-flexColumn" />
    </aw-flex-column>
</aw-flex-row>