<aw-flex-row height="fill" class="galaxy-auth-page">
    <aw-flex-column width="fill">
        <ui-view class="aw-layout-flexColumn" exist-when="conditions.isLogined" />
    </aw-flex-column>
</aw-flex-row>